<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.BoardMapper">

	<insert id="insertBoard">
		insert into board(num,name,pass,subject,content,readcount,date,file) 
		values(#{num},#{name},#{pass},#{subject},#{content},#{readcount},#{date},#{file})
	</insert>

	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from board
	</select>
	
	<select id="getBoardList" resultType="com.itwillbs.domain.BoardDTO">
		select * from board order by num desc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from board
	</select>
 
</mapper>
