<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.ReplyMapper">

	<select id = "getMaxNum" resultType="java.lang.Integer">
		select max(r_num) from reply
	</select>

	<insert id = "insertBoard">
		insert into reply(r_num,c_num,depth,u_id,nic,content,date) values(#{r_num},#{c_num},#{depth},#{u_id},#{nic},#{content},#{date})
	</insert>
	
	<select id="getBoardList" resultType="com.itwillbs.domain.ReplyDTO">
		select * from reply where c_num=#{c_num} order by r_num desc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="numCheck" resultType="com.itwillbs.domain.ReplyDTO">
		select * from reply where r_num=#{r_num} and u_id=#{u_id}
	</select>
	
	<update id="updateBoard">
		update reply set content=#{content}, where r_num=#{r_num}
	</update>
	
	<delete id="deleteBoard">
		delete from reply where r_num=#{r_num}
	</delete>
	
	<delete id="deleteBoardAll">
		delete from reply where c_num=#{c_num}
	</delete>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from reply where c_num=#{c_num}
	</select>
  
</mapper>