<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.mapper.TrainerMapper">
    <!-- 트레이너 정보 조회 -->
	<insert id = "insertTrainer">
	
		INSERT INTO trainer
				(t_id, t_pass, t_name, t_nic, t_phone, t_email, t_intro, t_exp, t_sns, 
				t_program, photo_name, video, t_postcode, t_address, t_detailAddress) 
		VALUES
				(#{t_id},#{t_pass},#{t_name},#{t_nic},#{t_phone},#{t_email},
				#{t_intro},#{t_exp},#{t_sns},#{t_program},#{photo_name},#{video},
				#{t_postcode},#{t_address},#{t_detailAddress})
		
	</insert>
	
	<select id="trainerCheck" resultType="com.itwill.domain.TrainerDTO">
	
		SELECT * FROM member
		WHERE 
			t_id=#{t_id} 
		AND 
			t_pass=#{t_pass}
		
	</select>
	
	<select id="getTrainer" resultType="com.itwill.domain.TrainerDTO">
	
		SELECT * FROM trainer 
		WHERE 
			t_id=#{t_id}
		
	</select>
  
 	<update id="updateTrainer">
 	
		UPDATE trainer 
		SET 
			t_intro = #{t_intro}
			,t_postcode = #{t_postcode}
			,t_address = #{t_address}
			,t_detailAdress = #{t_detailAddress}
			,photo_name = #{photo_name}
			,t_exp = #{t_exp}
			,t_sns = #{T_sns}
			,t_program = #{t_program}
		WHERE
			t_id=#{t_id}
			
	</update>
	
	<select id="getTrainerList" resultType="com.itwill.domain.TrainerDTO">
	
		SELECT * FROM trainer
		
	</select>


</mapper>
