<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwill.mapper.Trainer_memberMapper">

	<insert id = "trainer_register">
		insert into trainer(t_id,t_pass,t_name,t_nic,t_postcode,t_address,t_detailAddress,t_phone,t_email) values(#{t_id},#{t_pass},#{t_name},#{t_nic},#{t_postcode},#{t_address},#{t_detailAddress},#{t_phone},#{t_email})
	</insert>
	
	<select id="trainer_userCheck" resultType="com.itwill.domain.Trainer_memberDTO">
		select * from trainer where t_id=#{t_id} and t_pass=#{t_pass}
	</select>
	
	<select id="trainer_getmember" resultType="com.itwill.domain.Trainer_memberDTO">
		select * from trainer where t_id=#{t_id}
	</select>
  
 	<update id="trainer_updatemember">
		update trainer set name=#{t_name} where t_id=#{t_id}
	</update>
</mapper>